@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);

body{
    background: url(pictureicon-textures-patterns-gradients-3-small.png);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    background-size: auto;
}

nav {
    background: gray;
    /* margin-right: 50px;
    margin-top: 15px; */
}

.navbar-light .navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #ffffff;
    /* margin-left: 50px; */
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-brand:hover {
    color: #60c0dd;
}


.navbar-light .navbar-nav .nav-item a:hover {
    color: #60c0dd;
}

.navbar-light .navbar-nav .nav-item a:active {
    color: black;
}

.navbar-toggler {
    background: #60c0dd;
}
