@import url(https://fonts.googleapis.com/css?family=Lexend+Exa|Raleway|Muli&display=swap);

body {
    background: url(ex3.jpg) no-repeat center center fixed;
    background-size: cover; 


    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

nav {
    background: transparent;
    /* margin-right: 50px;
    margin-top: 15px; */
}

.navbar-light .navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #ffffff;
    /* margin-left: 50px; */
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-brand:hover {
    color: #60c0dd;
}

.navbar-light .navbar-nav .nav-item a:hover {
    color: #60c0dd;
}

.navbar-light .navbar-nav .active {
    color: yellow;
}

.navbar-toggler {
    background: #60c0dd;
}

.jumbotron {
    background: rgba(0,0,0,0);
    color: white;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 40px;
}

#info {
    background: rgba(0, 0, 0, 0.568);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#aboutus {
    color: rgb(240, 183, 183);
}

#memberinfo {
    color: rgb(237, 155, 245);
}

#announcements {
    color: rgb(240, 183, 183);
}

#recitalvideo {
    color: white;
    background: rgba(0, 0, 0, 0.568);
}

#copyright {
    color: rgb(153, 149, 149);
    background: #000000;
    font-family: 'Muli', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
}